.tokenNotificationCard {
  margin: 12px;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 220px;
}

button {
  cursor: pointer;
}

.cardBottomLip {
  background-color: #1aae23;
  height: 3px;
  width: 100%;
}

.tokenNotificationCard h1 {
  font-size: 1.1rem;
}

p.MuiTypography-body1 {
  font-size: 0.75rem;
}

/* override Google Material */
.tokenNotificationCard .MuiCardContent-root {
  padding: 10px !important;
}
