@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap.css');

/* light theme */

.overlay-tn.light .overlay-fab-button-tn {
  background: black;
  box-shadow: 0 2px 5px 0 #676767;
}

.overlay-tn.light .overlay-content-tn .opening-content-view-tn  {
  background: white;
}

.overlay-tn.light .overlay-content-tn .toggle-tn input.mobileToggle-tn+label:after {
  background: #037fed;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
}

.overlay-tn.light li.issuer-connect-banner-tn {
  color: black;
  border-bottom: 1px solid #ececec;
}

.overlay-tn.light .opening-btn-tn:hover,
.overlay-tn.light .tokens-btn-tn:hover,
.overlay-tn.light .connect-btn-tn:hover,
.overlay-tn.light .btn-tn:hover {
  background: #c5c5c5 !important;
}

.overlay-tn.light .opening-btn-tn,
.overlay-tn.light li.issuer-connect-banner-tn .connect-btn-tn, 
.overlay-tn.light li.issuer-connect-banner-tn .tokens-btn-tn,
.overlay-tn.light .btn-tn {
  color: black;
  background: #efefef;
  font-weight: 400;
}

.overlay-tn.light li.issuer-connect-banner-tn .connect-btn-tn, 
.overlay-tn.light li.issuer-connect-banner-tn .tokens-btn-tn,
.overlay-tn.light .btn-tn {
  border: 1px solid #efefef;
}

.overlay-tn.light .overlay-content-tn:hover {
  box-shadow: 0 2px 3px 0 #676767;
}

.overlay-tn.light .overlay-content-tn {
  box-shadow: 0 2px 4px 0 rgba(103, 103, 103, 0.5);
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 3px;
  overflow: hidden;
}

.overlay-tn.light .overlay-content-tn {
  border-top: 4px solid black;
}

.overlay-tn.light .overlay-content-tn .token-tn .title-tn,
.overlay-tn.light .overlay-content-tn .headline-tn {
  font-weight: 700;
  color: #000000;
  width: 100%;
}

.overlay-tn.light .headline-container-tn {
  border-bottom: 1px solid #ececec;
}

.overlay-tn.light .overlay-content-tn .token-tn {
  border-top: solid 1px #e9e9e9;
}

.overlay-tn.light .overlay-content-tn .token-tn:last-child {
  border-bottom: solid 1px #e9e9e9;
}

.overlay-tn.light .overlay-content-tn .token-tn .detail-tn {
  color: #727272;
}

.overlay-tn.light .overlay-content-tn .toggle-tn {
  background: white;
}

.overlay-tn.light .overlay-content-tn .toggle-tn input.mobileToggle-tn+label {
  border: 3px solid #c6c5c5;
  background: #c6c5c5;
}

.overlay-tn.light .overlay-content-tn .toggle-tn input.mobileToggle-tn+label:after {
  background: #f1f1f1;
}

.overlay-tn.light .overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label {
  border: 3px solid #88bff6;
}

.overlay-tn.light .overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label:before {
  background: #88bff6;
}

.overlay-tn.light .overlay-content-tn .toggle-tn input:focus+label {
  border: 3px solid #005fcc !important;
}

.overlay-tn.light #svg-tn-right, #svg-tn-left {
  fill: white;
}

.overlay-tn.light .retry {
  border-color: darkorange !important;
}

.overlay-tn.light .opening-heading-tn, .overlay-tn.dark .wallet-button-tn p {
  color: black;
}

/* dark theme */

.overlay-tn.dark .retry {
  border-color: darkorange !important;
}

.overlay-tn.dark .headline-container-tn {
  border-bottom: 1px solid #101010;
}

.overlay-tn.dark .wallet-selection-view-tn,
.overlay-tn.dark .overlay-content-tn .opening-content-view-tn  {
  background: #000;
}


.overlay-tn.dark .opening-heading-tn, .overlay-tn.dark .wallet-button-tn p {
  color: darkgrey;
}

.overlay-tn.dark .headline-container-tn p {
  color: white;
}

.overlay-tn.dark li.issuer-connect-banner-tn {
  color: white;
  border-bottom: 1px solid #161616;
}

.overlay-tn.dark .overlay-fab-button-tn:focus {
  outline-color: #dd980f;
}
.overlay-tn.dark .overlay-fab-button-tn {
  background: #fff;
  box-shadow: 0 2px 5px 0 #676767;
}

.overlay-tn.dark .overlay-fab-button-tn svg path {
  fill: black !important;
}

.overlay-tn.dark #svg-tn-right, #svg-tn-left {
  fill: #fff;
}
 
.overlay-tn.dark .overlay-content-tn:hover {
  box-shadow: 0 2px 3px 0 #676767;
}

.overlay-tn.dark .overlay-content-tn .token-title-tn {
  color: #fff;
}

.overlay-tn.dark .overlay-content-tn {
  box-shadow: 0 2px 4px 0 rgba(103, 103, 103, 0.5);
  background-color: black;
}

.overlay-tn.dark .overlay-content-tn {
  border-top: 4px solid white;
}

.overlay-tn.dark .overlay-content-tn .token-tn {
  border-top: solid 1px #161616;
}

.overlay-tn.dark .overlay-content-tn .token-tn:last-child {
  border-bottom: solid 1px #161616;
}

.overlay-tn.dark .overlay-content-tn .headline-tn,
.overlay-tn.dark .overlay-content-tn .token-tn .detail-tn,
.overlay-tn.dark .overlay-content-tn .token-tn .title-tn
{
  color: white;
}

.overlay-tn.dark .opening-btn-tn,
.overlay-tn.dark li.issuer-connect-banner-tn .connect-btn-tn, 
.overlay-tn.dark li.issuer-connect-banner-tn .tokens-btn-tn,
.overlay-tn.dark .btn-tn {
  color: white;
  background: #101010;
  border: 1px solid gray;
  font-weight: 400;
}

.overlay-tn.dark li.issuer-connect-banner-tn .connect-btn-tn, 
.overlay-tn.dark li.issuer-connect-banner-tn .tokens-btn-tn,
.overlay-tn.dark .btn-tn {
  border: 1px solid #101010;
}


.overlay-tn .connect-btn-tn {
  transition: all 1s;
  margin: 0;
}

.overlay-tn.dark .overlay-content-tn .toggle-tn {
  background: black;
}

.overlay-tn.dark .overlay-content-tn .toggle-tn input.mobileToggle-tn+label {
  border: 3px solid black;
  background: white;
}

.overlay-tn.dark .overlay-content-tn .toggle-tn input.mobileToggle-tn+label:after {
  background: #0e0e0e;
  border: 1px solid gray;
}

.overlay-tn.dark .overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label {
  border: 3px solid #723f00;
}

.overlay-tn.dark .overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label:before {
  background: #723f00;
}

.overlay-tn.dark .overlay-content-tn .issuer-connect-title {
  color: white;
}

.overlay-tn.dark .overlay-content-tn .toggle-tn input:focus+label {
  border: 3px solid #dd980f !important;
}

/* common theme  */

.overlay-tn {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  z-index: 9999;
  bottom: 24px;
  right: 24px;
}

.overlay-tn .wallet-button-tn,
.overlay-tn .opening-btn-tn,
.overlay-tn .tokens-btn-tn,
.overlay-tn .connect-btn-tn,
.overlay-tn .btn-tn
{
  transition: all 0.25s;
}

.overlay-tn .wallet-button-tn {
  opacity: .8;
}

.overlay-tn .wallet-button-tn:hover {
  opacity: 1;
}

.overlay-tn .no-tokens-tn {
  padding: 0 1rem;
}

.overlay-fab-button-tn {
  padding: 0;
  height: 80px;
  width: 80px;
  border: 0;
  border-radius: 54px;
  cursor: pointer;
  z-index: 999;
  bottom: 0;
  right: 0;
  position: absolute;
}

.overlay-tn .headline-container-tn p {
  margin: 1rem;
}

.stl-tn {
  cursor: pointer;
}

.overlay-tn .overlay-content-tn:hover {
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}

.overlay-tn.open .overlay-fab-button-tn .stl-tn > .child_a {
  animation: .2s linear both a0_t, .2s linear both a0_d;
  -webkit-animation: .2s linear both a0_t, .2s linear both a0_d;
}

.overlay-tn.open .overlay-fab-button-tn .stl-tn > .child_b {
  animation: .2s linear both a0_t, .2s linear both a1_d;
  -webkit-animation: .2s linear both a0_t, .2s linear both a1_d;
}

.overlay-tn.open .overlay-content-tn {
  opacity: 1;
  visibility: visible;
  transition: all .3s .1s;
  bottom: 88px;
  padding: 0;
  pointer-events: inherit;
}

.overlay-tn .overlay-content-tn {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  bottom: 74px;
  height: 266px;
  width: 355px;
  box-shadow: 0 2px 4px 0 rgba(103, 103, 103, 0.5);
  z-index: 888;
}

.overlay-tn .overlay-content-tn .issuer-connect-title {
  margin: 0;
  max-width: 160px;
}

.overlay-tn .overlay-content-tn .headline-tn {
  width: 246px;
  margin: 0;
  padding: 21px 12px 13px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.71rem;
}

.overlay-tn .overlay-content-tn .token-container-tn {
  flex-grow: 1;
  overflow: scroll;
}

.overlay-tn .overlay-content-tn .token-tn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  /* border-top: solid 1px #e9e9e9; */
}

.overlay-tn .back-to-menu-tn {
  cursor: pointer;
  height: 42px;
  width: 42px;
  border-radius: 80px;
  margin: 14px 0px 14px 11px;
  border: none;
  padding: 5px;
  width: auto;
  background-color: #efefef;
}

.overlay-tn .back-to-menu-tn:hover {
  background-color: #c5c5c5 !important;
}

.overlay-tn .overlay-content-tn .token-tn .image-tn {
  width: 89px;
  min-height: 48px;
  margin: 0 14px;
}

.overlay-tn .overlay-content-tn .token-tn .data-tn {
  width: 175px;
  text-align: left;
  height: calc(1.3rem + 1.12rem);
}

.overlay-tn .token-title-tn {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.overlay-tn .overlay-content-tn .token-tn .detail-tn {
  height: 20px;
  font-size: 0.7rem;
  line-height: 1.3rem;
  /* color: #727272; */
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.2rem;
}

.overlay-tn .overlay-content-tn .token-tn .title-tn {
  margin: 0;
  font-size: 1.12rem;
  color: #000000;
}

.overlay-tn .overlay-content-tn .toggle-tn {
  transform: scale(0.7);
  width: 55px;
  margin-right: 7px;
  border-radius: 5px;
  /* background: white; */
  cursor: pointer;
}

.overlay-tn .overlay-content-tn .toggle-tn input.mobileToggle-tn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.overlay-tn .overlay-content-tn .toggle-tn input.mobileToggle-tn+label {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease;
  height: 25px;
  width: 50px;
  border-radius: 60px;
  cursor: pointer;
}

.overlay-tn .overlay-content-tn .toggle-tn input.mobileToggle-tn+label:before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 19px;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 19px;
}

.overlay-tn .overlay-content-tn .toggle-tn input.mobileToggle-tn+label:after {
  content: "";
  position: absolute;
  display: block;
  transition: 0.25s cubic-bezier(0.54, 1.6, 0.5, 1);
  height: 28px;
  width: 28px;
  top: -5px;
  left: 0px;
  border-radius: 60px;
}

.overlay-tn .overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label {
  border: 3px solid #88bff6;
}

.overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label:before {
  background: #88bff6;
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}

.overlay-tn .overlay-content-tn .toggle-tn input.mobileToggle-tn:checked+label:after {
  left: 24px;
}

.overlay-tn label {
  box-sizing: border-box;
}

.overlay-content-tn .toggle-tn input:focus+label {
  border: 3px solid #005fcc !important;
}

.overlay-tn li.issuer-connect-banner-tn {
  box-sizing: border-box;
}

.overlay-tn .load-container-tn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(52, 52, 52, 0.70);
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 16px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

li.issuer-connect-banner-tn {
  list-style-type:none;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 12px;
  /* height: 2.7rem; */
}

.opening-btn-tn, li.issuer-connect-banner-tn .connect-btn-tn, li.issuer-connect-banner-tn .tokens-btn-tn, .btn-tn {
  color: white;
  background: #101010;
}

li.token-tn, .load-more-tn {
  width: 100%;
  list-style-type: none;
}

.overlay-tn .opening-btn-tn, li.issuer-connect-banner-tn .connect-btn-tn, li.issuer-connect-banner-tn .tokens-btn-tn {
  font-size: 0.75em;
  font-weight: 200;
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 23px;
  cursor: pointer;
}

.load-more-tn {
  text-align: center;
  padding: 10px 0;
}

.opening-btn-tn, li.issuer-connect-banner-tn .connect-btn-tn, li.issuer-connect-banner-tn .tokens-btn-tn, .btn-tn {
    font-size: 0.75em;
    font-weight: 200;
    border: none;
    padding: 7px 15px 7px 15px;
    border-radius: 23px;
    cursor: pointer;
}

.dismiss-error-tn {
  margin-top: 20px;
  border: 0 !important;
}

li.issuer-connect-banner-tn .tokens-btn-tn {
  display: none;
  width: auto;
  margin: 0;
}

.overlay-tn .token-issuer-list-container-tn, .token-list-container-tn {
  padding: 0;
  margin: 0;
}

.overlay-tn .inner-content-tn {
  padding: 0;
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.2s ease-out;
  height: 100%;
}

.issuer-slider-tn {
  width: 200%;
}

.issuer-slider-tn > div {
  width: 50%;
}

.shimmer-tn {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

.shimmer-tn:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
          90deg,
          rgba(255,255,255, 0) 0,
          rgba(255,255,255, 0.2) 20%,
          rgba(255,255,255, 0.5) 60%,
          rgba(255,255,255, 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.img-container-tn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container-tn img {
  max-width: 100%;
  max-height: 100%;
}

.issuer-icon-tn {
  height: 32px;
  width: 32px;
  border-radius: 45px;
  margin-right: 9px;
}

/* .overlay-tn .overlay-content-tn.open .inner-content-tn { */

.view-content-tn.open .inner-content-tn {
  position: relative;
  left: -100%;
}

.overlay-tn .overlay-content-tn .wallet-selection-view-tn {
  position: absolute; 
  z-index: 100; 
  height: inherit; 
  width: 100%; 
  background: white;
}

.overlay-tn .overlay-content-tn .opening-content-view-tn .inner-content-tn .inner-content-block-tn  {
  text-align: center;
  padding: 20%;
}

.overlay-tn button.opening-btn-tn {
  margin: 0 0 24px 0;
  transform: scale(1.1);
  padding: 7px 14px;
  width: auto;
  cursor: pointer;
  border: none;
  font-size: 0.75rem;
}

.overlay-tn .overlay-content-tn .opening-content-view-tn .inner-content-tn  {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  z-index: 100; 
  height: calc(100% - 4px); 
  width: 100%; 
}

.overlay-tn .overlay-content-tn .opening-content-view-tn  {
  position: absolute; 
  z-index: 100; 
  height: 100%; 
  width: 100%; 
}

.overlay-tn .overlay-content-tn  {
  overflow: scroll;
}

.view-content-tn  {
  height: 100%;
}

.scroll-tn  {
  overflow: hidden scroll;
  height: 100%;
}

.issuer-view-tn, .token-view-tn {
  width: 100%;
}

.overlay-tn .wallet-button-container-tn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0 20px 0;
}

.overlay-tn .wallet-button-container-tn p {
  margin: 0;
  padding: 0;
}

.overlay-tn .wallet-button-tn {
  margin: 16px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 132px;
}

.overlay-tn .skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

.overlay-tn .skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s infinite;
          animation: shimmer 2s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes a0_t {
  0% {
    transform: translate(13px, 28.5px) translate(-13px, -13.5px);
    animation-timing-function: cubic-bezier(0, 0, .6, 1);
  }

  100% {
    transform: translate(27.1px, 28.1px) translate(-17.1px, -17.1px);
  }
}

@keyframes a0_d {
  0% {
    d: path('M25.5,26C25.5,26,20.5,26,20.5,26C20.5,23.1,19.9,20.4,18.8,17.9C17.8,15.6,16.4,13.6,14.6,11.8C12.7,9.9,10.3,8.4,7.8,7.4C5.5,6.5,3,6,.5,6L.5,1C.5,1,.5,1,.5,1C.5,1,7.5,1,7.5,1L25.5,1L25.5,7.2C25.5,7.2,25.5,12.8,25.5,12.8C25.5,12.8,25.5,19,25.5,19Z');
    animation-timing-function: cubic-bezier(0, 0, .6, 1);
  }

  100% {
    d: path('M31.8,32.8C31.5,33.2,30.9,33.4,30.4,33.4C29.9,33.4,29.4,33.2,29,32.8C29,32.8,1.4,5.2,1.4,5.2C1,4.8,.8,4.3,.8,3.8C.8,3.3,1,2.8,1.4,2.4L2.4,1.4C2.7,1,3.3,.8,3.8,.8C4.3,.8,4.8,1,5.2,1.4L5.2,1.4L32.8,29C33.2,29.4,33.4,29.9,33.4,30.4C33.4,30.9,33.2,31.5,32.8,31.8Z');
  }
}

@keyframes a1_d {
  0% {
    d: path('M53,1C53,1,53,1,53,1C53,1,53,12.9,53,12.9L53,19C53,19,53,26,53,26C53,26,40.2,26,40.2,26L34.1,26C34.1,26,28,26,28,26C28,26,28,12.6,28,12.6L28,7.4C28,7.4,28,1,28,1C28,1,40.6,1,40.6,1C40.6,1,45.9,1,45.9,1Z');
    animation-timing-function: cubic-bezier(0, 0, .6, 1)
  } 

  100% {
    d: path('M29,1.4C29.4,1,29.9,.8,30.4,.8C30.9,.8,31.5,1,31.8,1.4L32.8,2.4C33.2,2.7,33.4,3.3,33.4,3.8C33.4,4.3,33.2,4.8,32.8,5.2L5.2,32.8C4.8,33.2,4.3,33.4,3.8,33.4C3.3,33.4,2.8,33.2,2.4,32.8L1.4,31.8C1,31.5,.8,30.9,.8,30.4C.8,29.9,1,29.4,1.4,29C1.4,29,29,1.4,29,1.4Z')
  }
}

@media (max-width: 375px) {
  .overlay-tn .overlay-content-tn {
    width: 328px !important;
  }
}

@media (max-width: 360px) {
  .overlay-tn .overlay-content-tn {
    width: 312px !important;
  }
}

@media (max-width: 340px) {
  .overlay-tn .overlay-content-tn {
    width: 274px !important;
  }
}

/* Modal for handling input required by attestation.ID (wallet connection setup for instance) */
.modal-tn {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-close-tn {
  color: #ffffff;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.modal-close-tn:hover,
.modal-close-tn:focus {
  color: #696969;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.modal-header-tn {
  padding: 2px 16px;
  /*background-color: #5cb85c;*/
  color: white;
}

.modal-body-tn {
  padding: 2px 16px;
}

.modal-body-tn iframe {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  border: 6px solid #696969;
  border-radius: 3px;
}

/* Modal Content */
.modal-content-tn {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;

  width: 50%;

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}



