html, body {
  background: rgb(229,196,150);
  background: linear-gradient(90deg, rgba(229,196,150,1) 0%, rgba(255,255,255,1) 42%, rgba(253,254,254,1) 62%, rgba(131,203,200,1) 100%);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.ticketWrapper .makeTicket {
  cursor: pointer;
  border: 0;
  padding: 11px 10px;
  border-radius: 5px;
  color: white;
  transition: opacity .3s;
}

.ticketWrapper .makeTicket:hover { transition: opacity .3s; opacity: 0.7; }
.ticketWrapper .makeTicket:nth-child(1) { background-color: #667bbc; }
.ticketWrapper .makeTicket:nth-child(2) { background-color: #54bc7a; }
.ticketWrapper .makeTicket:nth-child(3) { background-color: #f58b77; }
.ticketWrapper .makeTicket:nth-child(4) { background-color: #0eafd2; }

h2 { margin: 20px; font-weight: 300; }
p { font-weight: 300; }

.logo { width: 32px; margin: 20px; }
.devcon_bogota { width: 300px; margin: 5px 0 20px 0; }
.flexCenter { display: flex; justify-content: center; text-align: center; }