.logo {
  padding-left: 32px;
}

.logo h1 {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-top: 21px;
  width: 190px;
  height: 32px;
  font-family: SerifGothicStd;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.logo h2 {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-top: 0;
  width: 118px;
  height: 12px;
  margin: 2px 36px 0;
  font-family: SerifGothicStd;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5.77px;
  text-align: center;
  color: #c8aa61;
}

.logo {
  padding-left: 32px;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}