.modalContainer {
  max-width: 340px;
  min-width: 320px;
  width: 100%;
}
.title {
  font-size: 1.2rem;
  margin-bottom: 0px;
  padding-bottom: 0;
  padding: 17px 24px 0px 24px !important
}
.subTitle {
  font-size: 1rem;
  margin: 0px;
  padding-top: 0;
}
.smallCopy {
  font-size: 0.8rem;
}

.ticketContainer {
  transform: scale(0.9);
}

/* override Google Material */

/* .MuiDialog-paper {
  margin: 8px !important;
} */

.MuiDialogActions-root {
  justify-content: flex-start !important;
}


