.modalContainer {
  max-width: 348px;
  min-width: 320px;
  height: 630px;
  width: 100%;
  border-radius: 0 !important;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 17px 24px 0px 24px !important
}
/* .subTitle {
  font-size: 1rem;
  margin: 0px;
  padding-top: 0;
} */
.smallCopy {
  font-size: 0.8rem;
}

.ticketContainer {
  transform: scale(0.9);
}

.bookButton {
  min-width: 180px !important;
  margin: 0px 14px 24px 14px !important;
}

.paynow {
  min-width: 90% !important;
  margin: 4px 0 21px 5% !important;
}

/* override Google Material */

.MuiCardContent-root {
  padding: 21px 21px 9px 21px !important;
}

.MuiDialogActions-root {
  justify-content: flex-start !important;
}

.subTitle {
  padding: 9px 24px !important;
  color: grey;
  font-size: 14px;
}

.MuiTypography-gutterBottom {
  margin-bottom: 0.125em !important;
}

.MuiBackdrop-root {
  background: rgba(0, 0, 0, 0.2);
}

.MuiPaper-root {
  border-radius: 0 !important;
}

.MuiDialog-paper {
  margin: 1px !important;
  position: relative;
  overflow-y: auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
