.tokenCard { position: relative; width: 300px; cursor: pointer; }
.tokenCard:hover:not(.selected) { transition: opacity 0.2s; opacity: 0.9; animation: hueCycle 5s ease-in-out infinite; }
.tokenCard.selected { transition: opacity 0.2s; opacity: 0.5; }
.ticketDetails { position: absolute; width: 100%; }
.ticketClass { position: absolute; top: 12px; right: 16px; }
.ticketId { position: absolute; top: 52px; right: 34px; }
.devconId { position: absolute; top: 75px; right: 34px; font-size: 12px; }
.ticketImg { width: 300px; text-align: right; }

@keyframes hueCycle {
  0% {filter: hue-rotate(0deg);}
  50% {filter: hue-rotate(45deg);}
  100% {filter: hue-rotate(0deg);}
}